@page
@model BankingApp.Pages.Account.CreateModel

@{
    ViewData["Title"] = "Register";
}

<h3 class = "mt-4 text-center mx-auto"> Create A New Account</h3><br>
<div class="container border rounded-3 p-3 w-100 shadow-lg">
    <div class="container w-75 mx-auto ">
    <form class="mx-auto py-2" method = "post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group mt-4">
            <label asp-for="Username" class="form-label pb-2"> </label>
            <input asp-for="Username"  type="text" class="form-control" placeholder="Username" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>

        <div class="form-group mt-4">
            <label asp-for="Password" class="pb-2 form-label"> </label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
                <div class="form-group mt-4">
            <label asp-for="PasswordConf" class="pb-2 form-label">Confirm Password </label>
            <input asp-for="PasswordConf" type="password" class="form-control" placeholder="Confirm Password" />
            <span class="text-danger" asp-validation-for="PasswordConf" ></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary mt-4" type="submit" value = "Login">
        </div>
    </form>

    <br>
    <div class=" mx-auto"> 
        Already have an Account? 
        <a class = "link-primary" href= "/Account/Login"> Login Here </a> 
    </div>
</div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}

