@page
@model BankingApp.Pages.Account.AccountModel

@{
    ViewData["Title"] = "Account";

}
<style>
    .linkto:active, .linkto:hover{

        /*border :solid!important;
        border-color : dodgerblue!important; */
        /*font-size-adjust: 2!important;*/
       /* text-emphasis-style:open!important;
        text-emphasis-color:dodgerBlue!important;
        text-emphasis-position:right!important*/

        -webkit-text-stroke:thin!important;
        -webkit-text-stroke-color:cornflowerblue!important;
/*        font-size:1.66rem!important;
*/        -webkit-text-size-adjust:!important;
/*          -webkit-user-select:auto!important;
*//*        padding-right: 3rem!important; 
*/
        
        
    }


    .hidden {
        display: @Model.hidden!important;
    }
</style>



    <div class="container shadow-lg border rounded-3">
        <div class="container mx-auto mt-2 w-100">
            <h1 class="text-center my-4">Welcome @Model.User.Username</h1>
            <div class="row container mx-auto w-100 ">
                @foreach (var item in Model._Account)

                {
                    <div class="col-md-3 m-4 p-4 border rounded-2 shadow-lg mx-auto" >
                        <div class="h3 fw-bold mb-2  text-center  linkto onclick="location.href="#" :hover style="cursor: pointer" title="View Transactions">@item.Type</div>
                        <hr/>
                            
                            <div class="col-sm-2 w-100 fw-bold text-center">
                                Balance:
                            </div>
                            <div class="col-sm-2 w-100 text-center">
                                @item.BalanceToString()
                            </div>
                    <div class="col-sm-2 w-100 text-center">
                        <button class="btn btn-success mt-4 mx-auto justify-content-center" id="#AddFunds" type="button">Add Funds</button> @*add funds button*@
                    </div>
                    </div>
                }

            </div>
                    <div class="container w-100 text-center">
            <a class="btn btn-primary mt-4 hidden"  type="button" id="AddAccount"  asp-page="/Account/Home" asp-page-handler="AddNewAccount" > Add new Account</a>
            <a href="#" class="btn btn-primary m-4" type="button"  id="TransferFunds">Transfer Funds </a>
        </div>
        </div>

    </div>



  
