@page
@model BankingApp.Pages.Shared.Account.LoginModel
@{
}


<div class="container mx-auto w-50">
    <h3 class = "mt-4 text-center"> Please Login Below </h3><br>
    <form action="" method = "post">
        <div class="form-group mt-4">
            <label for="UserName">Username: </label>
            <input type="text" class="form-control" name = "Username" id="Username" placeholder="Username">
        </div>
        <div class="form-group mt-4">
            <label for="Password">Password: </label>
            <input type="password" class="form-control" name = "Pass" id="Pass" placeholder="Password">
        </div>
        <input class="btn btn-primary mt-4" type = "submit" value = "Submit">
    </form>

    <br>
    <p> 
        Need an account? 
        <a href= "/Account/Register"> Create one Here </a> 
    </p>

</div>