@page
@model BankingApp.Pages.Account.LoginModel
@{

}

<h3 class = "mt-4 text-center mx-auto"> Please Login Below </h3><br>
<div class="container border rounded-3 p-3 w-100 shadow-lg">
    <div class="container w-75 mx-auto ">
    <form class="mx-auto py-2" method = "post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group mt-4">
            <label asp-for="credentials.Username" class="form-label pb-2"></label>
            <input asp-for="credentials.Username"  type="text" class="form-control pt-2 " placeholder="Username" />
            <span class="text-danger" asp-validation-for="credentials.Username"></span>
        </div>

        <div class="form-group mt-4">
            <label asp-for="credentials.Password" class="pb-2 form-label"> </label>
            <input asp-for="credentials.Password" type="password" class="form-control pt-2 " name = "Pass" id="Pass" placeholder="Password" />
            <span class="text-danger" asp-validation-for="credentials.Password"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary mt-4" type="submit" value = "Login">
        </div>
    </form>

    <br>
    <div class=" mx-auto"> 
        Need an account? 
        <a class = "link-primary" href= "/Account/Register"> Create one Here </a> 
    </div>
</div>

</div>