@page
@model BankingApp.Pages.Account.RegisterModel
@{
}

<!DOCTYPE HTML>
<html>
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mx-auto w-50">
    <h3 class = "mt-4 text-center"> Create a New Account </h3><br>
    <form action = "NewUser.php" method = "post">
        <div class="form-group">
            <label for="Username">Username: </label>
            <input type="text" class="form-control" name = "Username" id="Username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="Password">Password: </label>
            <input type="password" class="form-control" name = "Pass" id="Pass" placeholder="Password">
            <small id="PassHelp" class="form-text text-muted">
                Password must be at least 8 characters.
            </small>
        </div>
        <div class="form-group">
            <label for="PasswordConf">Confirm Password: </label>
            <input type="password" class="form-control" name = "PassConf" id="PassConf" placeholder="Confirm Password">
        </div>

        <input class="btn btn-primary"  type = "submit" value = "Submit">
    </form>

    <!-- 
        Below are to show the user which errors
        they have with their new login info.
     -->

     <!-- Passwords dont match error -->


    <!-- password length requirement is not met -->


    <!-- Username is already taken -->

    <br>
    <p> Already have an account? <a href= "/Account/Login"> Log in Here </a> </p>
</div>


</body>
</html>

