@page
@model BankingApp.Pages.Account.TransactionsModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<div>
    
    <button id="test" type = "submit">@Model.test</button>
   
</div>
<div>
    <a asp-page="/Account/Home">Back to List</a>
</div>


@section Scripts {
    <script>
        function get() {

            

        }
    </script>
}
