@page
@model BankingApp.Pages.Account.TransactionsModel

@{
    ViewData["Title"] = "Transactions";
}

<h3 class = "mt-4 text-center mx-auto"> Transactions </h3><br>

<div>
    
   
</div>
<div>
    <a asp-page="/Account/Home">Back to List</a>
</div>


@section scripts {
    <script>

    </script>
}
